/* font-family: 'Source Sans Pro', sans-serif; */

*{
    margin: 0;
    padding: 0;
}

header{
    background-image: url(../images/hbanner.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.navbar{
    padding-top: 25px;
}

.navbar-light .navbar-nav .nav-item{
    padding-left: 25px;
}

.navbar-light .navbar-nav .nav-link{
    color: #fffefe;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    padding: 0;
}

.navbar-light .navbar-nav .nav-link:hover{
    color: #fffefe;
}

.navbar-light .navbar-nav .nav-link{
    position: relative;
}
.navbar-light .navbar-nav .nav-link::before{
    position: absolute;
    content: '';
    left: 0;
    bottom: -5px;
    width: 0%;
    color: #864646;
    background-color: #008ED6;
    height: 8%;
    transition: 0.4s all ease-in-out;
}

.navbar-light .navbar-nav .nav-link::after{
    position: absolute;
    content: '';
    right: 0;
    bottom: -5px;
    width: 0%;
    color: #864646;
    background-color: #008ED6;
    height: 8%;
    transition: 0.4s all ease-in-out;
}

.navbar-light .navbar-nav .nav-link:hover::before{
    width: 47%
}

.navbar-light .navbar-nav .nav-link:hover::after{
    width: 47%
}

.tm{
    min-height: 90vh;
    align-items: center;
}
.tm h5{color: #008ed6;font-weight: 600;text-transform: uppercase;font-family: 'Source Sans Pro', sans-serif;font-size: 16px;letter-spacing: 1.5px;}

.tm h1{
    color: #ffffff;
    margin-top: 18px;
    font-size: 45px;
    font-weight: 600;
    font-family: 'Source Sans Pro', sans-serif;
}

.tm p{
    color: #999999;
    margin: 30px 0px 50px 0px;
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
}

.image1{
    position: absolute;
    bottom: 0;
    left: 56%;
}

.btn-d{
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: #008ED6;
    font-size: 16px;
    padding: 15px 30px;
    margin-right: 20px;
    font-family: 'Source Sans Pro', sans-serif;
}

.btn-v{
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: transparent;
    font-size: 16px;
    padding: 15px 30px;
    border: 1px solid #454549;
    font-family: 'Source Sans Pro', sans-serif;
}

.hm{   
    padding: 0;
}

.btn-d:hover{
    background-color: transparent;
    color: white;
    border: 1px solid #454549;
}

.btn-v:hover{
    background-color: #008ED6;;
    color: white;
    border: 1px solid #008ED6;;
}

.commonh{
    padding: 55px 0px 80px 0px;
    text-align:unset;
}

.commonh h1{   
    color: #1a1a1a;
}

.commonh h5{
    text-transform: uppercase;
    color: #008ed6;
    font-size: 16px;
}

.commonh span{
    display: inline-block;
    position: relative;
    width: 7%;
    height: 10px;
}

.commonh span::before{
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 0%;
    height: 25%;
    background-color: #008ED6;
    transition: 0.4s all ease-in-out;
}

.commonh span::after{
    position: absolute;
    content: '';
    right: 0;
    bottom: 0;
    width: 0%; 
    height: 25%;
    background-color: #008ED6;
    transition: 0.4s all ease-in-out;
}

.product{
    margin-bottom: 85px;
}

.product:hover span::before{
    width: 47%;

}

.product:hover span::after{
    width: 47%;

}

.details:hover span::before{
    width: 47%;

}

.details:hover span::after{
    width: 47%;
}

.details2:hover span::before{
    width: 47%;

}

.details2:hover span::after{
    width: 47%;

}



.ps .div_icon{
    width: 90px;
    height: 90px;
    border: 1px solid #E1E1E1;
    border-radius: 50%;
    line-height: 90px;
    font-size: 30px;
    color: #008ED6;
    margin: auto;
    margin-bottom: 15px;
}

.ps h3{
    color: #1a1a1a;
    font-weight: normal;
    font-family: 'Source Sans Pro', sans-serif;
}

.ps p{  
    color: #999999;
    font-weight: normal;
    font-family: 'Source Sans Pro', sans-serif;
}

.details{
    position: relative;
}

.commonh2{
    padding-top: 45px;

}

.commonh2 span{
    display: inline-block;
    position: relative;
    width: 15%;
    height: 10px;
}

.commonh2 span::before{
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 0%;
    height: 25%;
    background-color: #008ED6;
    transition: 0.4s all ease-in-out;
}

.commonh2 span::after{
    position: absolute;
    content: '';
    right: 0;
    bottom: 0;
    width: 0%; 
    height: 25%;
    background-color: #008ED6;
    transition: 0.4s all ease-in-out;
}

.commonh2 h1{
    color: #1a1a1a;
    font-size: 35px;
}

.commonh2 h5{
    text-transform: uppercase;
    color: #008ed6;
    font-size: 16px;
}

.commonh2 p{
    color: #999999;
    font-weight: normal;
    margin: 20px 0px 35px;
    font-family: 'Source Sans Pro', sans-serif;
}

.cc{
    align-items: center;
}

.details2{  
    background-color: #F2F2F2;
}

.details ul{ 
    list-style: none; 
    padding: 0;
}

.details li{
    margin-bottom: 2%;
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
}

.details li i{
    margin-right: 15px;
    width: 4%;
    padding-left: 0%;
    color: #0B93D8;
}